Hello {{ name }}!

<ul>
    <li><a href="{{ path('rikatika_user_administrator_user_login') }}">Administrator</a></li>
    <li><a href="{{ path('rikatika_user_supervisor_user_login')    }}">Supervisor</a></li>
    <li><a href="{{ path('rikatika_user_member_user_login')        }}">Member</a></li>
</ul>
