{% extends "::base.html.twig" %}

{% block title %}Administrator:login{% endblock %}

{% block body %}
<h1>Welcome to the Administrator:login page</h1>
{{ error }}

    {{ form(form) }}
{% endblock %}
